<div fxLayoutAlign="center stretch"
     fxLayout="row">

  <div fxFlex.xl="40"
       fxFlex.lg="40"
       fxFlex.xs="90"
       fxFlex.sm="90"
       fxFlex.md="90">

      <mat-card>
        <div fxLayout="row">
          <mat-card-title fxFlex="100"
                          style="padding-left: 15%"
                          fxLayoutAlign="center center"
                          class="bckcolor">

            <div fxFlex="80" fxLayoutAlign="center center">
              <span class="header-text">Termini.org</span>
            </div>
              <div fxFlex="20" fxLayoutAlign="end">
                <select (change)="setlanguage($event.target.value)" >
                  <option value="en">english</option>
                  <option value="sr">serbian</option>
                </select>
              </div>
          </mat-card-title>
        </div>
        <mat-tab-group mat-stretch-tabs mat-selected="selectedIndex" [@.disabled]="true">

          <mat-tab label="{{'Login.login_title' | translate}}">
            <sign-in></sign-in>
          </mat-tab>
          <mat-tab label="{{'Registration.registration_title' | translate}}">
            <sign-up></sign-up>
          </mat-tab>
        </mat-tab-group>

      </mat-card>


  </div>
</div>
