<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm">
      <table cellspacing="0" class="login-table">
        <tr>
          <td>
            <mat-form-field class="login-field">
              <input matInput placeholder= "{{'Login.username' | translate}}" [(ngModel)]="username" name="username" required >
              <mat-icon matSuffix><i class="material-icons">person</i></mat-icon>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-field">
              <input matInput placeholder= "{{'Login.password' | translate}}" [type]="hide ? 'text' : 'password'" name="password" [(ngModel)]="password" required >
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field></td>
        </tr>
        <tr>
          <td class="button">
            <button class="login" [disabled]="!loginForm.valid" mat-raised-button (click)="login()" color="primary">{{'Login.login_btn' | translate}}</button>
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <mat-card-footer class="button">
      <button mat-button routerLink="reset-pass">{{'Login.forgot_pass' | translate}}</button>
    </mat-card-footer>

  </mat-card-content>

</mat-card>
