.registration-table {
  margin-left: 10%;
  width: 80%;
}
.registration-field {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  margin: auto;

}
.register {
  width: 100%;
  text-align: center;
}
.clear {
  padding: 10px;
}
.alert-danger{
  color: darkmagenta;
  font-size: x-small;
}
