<!--
<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName" required>
      <label data-error="Required field!">UserName</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
      <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
      <label data-error="Invalid email!">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
      <label>First Name</label>
    </div>
    <div class="input-field col s6">
      <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
      <label>Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>-->

<mat-card>
  <mat-card-content>
    <form [formGroup]="formRegiser.getForm()" #registrationForm="ngForm" (ngSubmit)="OnSubmit(registrationForm)">
        <table cellspacing="0" class="registration-table">
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="Username"
                       formControlName="username"
                       [(ngModel)]="username"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">person</i></mat-icon>
              <div *ngIf="formRegiser.hasError('username')" class="alert alert-danger">
                {{formRegiser.getError('username')}}
              </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       formControlName="firstname"
                       [(ngModel)]="firstname"
                       placeholder="Firstname"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">account_circle</i></mat-icon>
                <div *ngIf="formRegiser.hasError('firstname')" class="alert alert-danger">
                  {{formRegiser.getError('firstname')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       formControlName="lastname"
                       [(ngModel)]="lastname"
                       placeholder="Lastname"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">account_circle</i></mat-icon>
                <div *ngIf="formRegiser.hasError('lastname')" class="alert alert-danger">
                  {{formRegiser.getError('lastname')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="Email"
                       type="email"
                       formControlName="email"
                       [(ngModel)]="email">
                <mat-icon matSuffix><i class="material-icons">email</i></mat-icon>
                <div *ngIf="formRegiser.hasError('email')" class="alert alert-danger">
                  {{formRegiser.getError('email')}}
                </div>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="Enter your password"
                       formControlName="password"
                       [(ngModel)]="password"
                       [type]="hide ? 'text' : 'password'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <div *ngIf="formRegiser.hasError('password')" class="alert alert-danger">
                  {{formRegiser.getError('password')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="Confirm your password"
                       formControlName="repassword"
                       [(ngModel)]="repassword"
                       [type]="hide ? 'text' : 'password'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <div *ngIf="formRegiser.hasError('password')" class="alert alert-danger">
                  {{formRegiser.getError('password')}}
                </div>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
              <mat-select placeholder="Rola korisnika"
                          [(ngModel)]="role"
                          formControlName="role">
                <mat-option value="1">Korisnik</mat-option>
                <mat-option value="2">Administrator</mat-option>
              </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <!--<button type="submit" class="btn btn-success">Submit</button>-->
              <button class="register" [disabled]="!registrationForm.form.valid"
                      mat-raised-button
                      color="primary">{{'Registration.registration_btn' | translate}}</button>
              <div class="clear">
              <button class="register" mat-button (click)="clearForm()">Clear form</button>
              </div>
            </td>
          </tr>
        </table>
    </form>
  </mat-card-content>
</mat-card>
