<div fxLayout="column" class="mat-card">
    <form [formGroup]="formRegiser.getForm()" #registrationForm="ngForm" (ngSubmit)="OnSubmit(registrationForm)">
        <table cellspacing="0" class="registration-table">
          <tr>
            <td>

              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="{{'Registration.username' | translate }}"
                       formControlName="username"
                       [(ngModel)]="username"
                       (blur)="checkUsername()"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">person</i></mat-icon>
              <div *ngIf="formRegiser.hasError('username')" class="alert alert-danger">
                {{formRegiser.getError('username')}}
              </div>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       formControlName="firstname"
                       [(ngModel)]="firstname"
                       placeholder="{{'Registration.firstname' | translate }}"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">account_circle</i></mat-icon>
                <div *ngIf="formRegiser.hasError('firstname')" class="alert alert-danger">
                  {{formRegiser.getError('firstname')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       formControlName="lastname"
                       [(ngModel)]="lastname"
                       placeholder="{{'Registration.lastname' | translate }}"
                       type="text" >
                <mat-icon matSuffix><i class="material-icons">account_circle</i></mat-icon>
                <div *ngIf="formRegiser.hasError('lastname')" class="alert alert-danger">
                  {{formRegiser.getError('lastname')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="{{'Registration.email' | translate }}"
                       type="email"
                       formControlName="email"
                       (blur)="checkEmail()"
                       [(ngModel)]="email">
                <mat-icon matSuffix><i class="material-icons">email</i></mat-icon>
                <div *ngIf="formRegiser.hasError('email')" class="alert alert-danger">
                  {{formRegiser.getError('email')}}
                </div>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="{{'Registration.password' | translate }}"
                       formControlName="password"
                       [(ngModel)]="password"
                       [type]="hide ? 'text' : 'password'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <div *ngIf="formRegiser.hasError('password')" class="alert alert-danger">
                  {{formRegiser.getError('password')}}
                </div>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
                <input matInput
                       placeholder="{{'Registration.repassword' | translate }}"
                       formControlName="repassword"
                       [(ngModel)]="repassword"
                       [type]="hide ? 'text' : 'password'" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <div *ngIf="formRegiser.hasError('password')" class="alert alert-danger">
                  {{formRegiser.getError('password')}}
                </div>
              </mat-form-field>

            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="registration-field">
              <mat-select placeholder="{{'Registration.role_user' | translate }}"
                          [(ngModel)]="role"
                          formControlName="role">
                <mat-option value="1">Korisnik</mat-option>
                <mat-option value="2">Administrator</mat-option>
              </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td>
              <div *ngIf="emailAddressExists || usernameExists" class="error-msg">
                {{errorReg}}
              </div>
          </td>
          </tr>
          <tr>
            <td>
              <button class="register" [disabled]="!(registrationForm.form.valid && emailAddressExists && usernameExists)"
                      mat-raised-button
                      color="primary">{{'Registration.registration_btn' | translate}}</button>
              <div class="clear">
              <button class="register" mat-button (click)="clearForm()">{{'Registration.clear_form' | translate }}</button>
              </div>
            </td>
          </tr>
        </table>
    </form>

  </div>
